*{
    margin: 0;
    border: 0;

}
p {
    font-size: 1em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.4em;
}

@media screen and (min-width:47em) {
    body {
        font-size: 90%;
    }
}

@media screen and (min-width:60em) {
    body {
        font-size: 100%;
    }
}
header {
display: flex;
    flex-direction: column;
    align-items: center;
    background-color: teal;
    padding: 5px;
    justify-content: space-between;
}
@media screen and (min-width:60em) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: teal;
        padding: 5px;
    }
}
header form{

}
.contenedor{
    background: antiquewhite;
    border: #4caf50;
    border-style: ridge;
}
.w3-table{
    background: antiquewhite;
    border: #4caf50;
    border-style: ridge;
}

#Ingreso{
    /* width: 50%; */
    /* top: -5px; */
    float: right;
}

.buscador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}
.w3-table{
    background: antiquewhite;
    border: #4caf50;
    border-style: ridge;
}


#pokeList{
    background: wheat;
    border-radius: 20px;
    padding-top: 10px;
    border: 2px solid;
}

.nuevoPokemon{
    position: fixed;
    background-color: teal;
    color: white;
    right: 10px;
    bottom: 10px;
}
.imagenPokemon img{
    max-width: 100px;
    max-height: 100px;
}