*{
    margin: 0;
}
p {
    font-size: 1em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.4em;
}

@media screen and (min-width:47em) {
    body {
        font-size: 90%;
    }
}

@media screen and (min-width:60em) {
    body {
        font-size: 100%;
    }
}
header {

display: flex;

    flex-direction: row;
    flex-direction: column;
    align-items: center;
    background-color: teal;
    padding: 5px;
    justify-content: space-between;
}
@media screen and (min-width:60em) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: teal;
        padding: 5px;
    }
}
@media screen and (min-width:60em) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: teal;
        padding: 5px;
    }
}

header form{
    /*position: absolute;
    right: 5px;*/

}

#user_name{
    margin-right: 2em;
    font-size: inherit;
    font-style: oblique;
    color: antiquewhite;

}
.contenedor{
    background: antiquewhite;
    border: #4caf50;
    border-style: ridge;
}
.w3-table{
    background: antiquewhite;
    border: #4caf50;
    border-style: ridge;
}

#Ingreso{
    /* width: 50%; */
    /* top: -5px; */
    float: right;
}
.ingresado-salir{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#buscador{
    display: flex;
    flex-direction: row;
    justify-content: center;
/*    width: 300px;*/
    border: 2px green solid;
    border-radius: 10px;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 5px;
}
#buscador input{
    width:85%;
    border: none;
}
#buscador button{
    border-radius: inherit;
    border: none;
    cursor: pointer;
}


.w3-table{
    background: antiquewhite;
    border: #4caf50;
    border-style: ridge;
}


#pokeList{
    background: wheat;
    border-radius: 20px;
    padding-top: 10px;
    border: 2px solid;
}

.nuevoPokemon{
    position: fixed;
    background-color: teal;
    color: white;
    right: 10px;
    bottom: 10px;
}
.imagenPokemon img{
    max-width: 100px;
    max-height: 100px;
}
/**********CSS*Add,Modify,Delete ******************/
.modifyform{
    background: wheat;
    border-radius: 20px;
    padding-top: 10px;
    border: 2px solid;
}
.deleteform{
    background: wheat;
    border-radius: 20px;
    padding-top: 10px;
    border: 2px solid;
}

.addform{
    background: wheat;
    border-radius: 20px;
    padding-top: 10px;
    border: 2px solid;
}
/*************************Interno*************************/
.contenedor_pokemon{
    display: flex;
    margin: 2em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
}
.nombre-tipo-pokemon{
    margin: 1em;
}

.descripcion-pokemon{
    float: left;
    font-family: sans-serif;
    font-size: large;
}
.nombre-pokemon{
    font-size: x-large;
    font-family: cursive;
}